{{#if banners.bottom}}
    {{#if settings.data_tag_enabled}}
        <div class="banners" data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="banners" data-banner-location="bottom">
            <div class="banner">
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}
{{/if}}
<div class="footer-slope">
</div>
<footer class="footer" role="contentinfo">
    <!-- STATIC ELEMENTS BELOW -->
    <div class="footer-container">
        <svg class="duraco-logo-background">
            <use xlink:href="#icon-duraco-logo-background" />
        </svg>
        <section class="footer-top">
            <a href="{{urls.home}}" title="{{settings.store_logo.title}}">
                <svg class="footer-nav-logo">
                    <use xlink:href="#icon-duraco-logo-white" />
                </svg>
            </a>
        </section>

        <section class="footer-middle">
            <div class="footer-pages">
                <div class="page-groupings">
                    <div class="page-list-grouping">
                        <div class="page-list-title">
                            {{lang 'footer.help'}}
                        </div>
                        <ul class="page-list">
                            <li>
                                <a href="#TODO" class="page-link">
                                    Customer service
                                </a>
                            </li>
                            <li>
                                <a href="#TODO" class="page-link">
                                    Track your number
                                </a>
                            </li>
                            <li>
                                <a href="#TODO" class="page-link">
                                    Returns
                                </a>
                            </li>
                            <li>
                                <a href="#TODO" class="page-link">
                                    Support topics
                                </a>
                            </li>
                            <li>
                                <a href="#TODO" class="page-link">
                                    Contact us
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="page-list-grouping">
                        <div class="page-list-title">
                            {{lang 'footer.markets'}}
                        </div>
                        <ul class="page-list">
                            <li>
                                <a href="#TODO" class="page-link">
                                    Point-of-purchase
                                </a>
                            </li>
                            <li>
                                <a href="#TODO" class="page-link">
                                    Transit packaging
                                </a>
                            </li>
                            <li>
                                <a href="#TODO" class="page-link">
                                    Print
                                </a>
                            </li>
                            <li>
                                <a href="#TODO" class="page-link">
                                    Appliance
                                </a>
                            </li>
                            <li>
                                <a href="#TODO" class="page-link">
                                    Truck and trailer
                                </a>
                            </li>
                            <li>
                                <a href="#TODO" class="page-link">
                                    Window
                                </a>
                            </li>
                            <li>
                                <a href="#TODO" class="page-link">
                                    HVAC
                                </a>
                            </li>
                            <li>
                                <a href="#TODO" class="page-link">
                                    Architectural signage
                                </a>
                            </li>
                            <li>
                                <a href="#TODO" class="page-link">
                                    Exhibit
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="page-list-grouping">
                        <div class="page-list-title">
                            {{lang 'footer.products'}}
                        </div>
                        <ul class="page-list">
                            <li>
                                <a href="#TODO" class="page-link">
                                    Categories
                                </a>
                            </li>
                            <li>
                                <a href="#TODO" class="page-link">
                                    Custom products
                                </a>
                            </li>                            <li>
                                <a href="#TODO" class="page-link">
                                    Ideas
                                </a>
                            </li>                            <li>
                                <a href="#TODO" class="page-link">
                                    Request a product
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="page-list-grouping">
                        <div class="page-list-title">
                            {{lang 'footer.about'}}
                        </div>
                        <ul class="page-list">
                            <li>
                                <a href="#TODO" class="page-link">
                                    Request a product
                                </a>
                            </li>
                            <li>
                                <a href="#TODO" class="page-link">
                                    People
                                </a>
                            </li>
                            <li>
                                <a href="#TODO" class="page-link">
                                    News
                                </a>
                            </li>
                            <li>
                                <a href="#TODO" class="page-link">
                                    Careers
                                </a>
                            </li>
                            <li>
                                <a href="#TODO" class="page-link">
                                    Capabilities
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-email-social">
                <div class="footer-email-container">
                {{#if settings.show_newsletter_box}}
                    {{> components/common/subscription-form}}
                {{/if}}
                </div>

                <div class="footer-social-container">
                    <div class="page-list-title">
                        {{lang 'social.connect'}}
                    </div>
                    <div>
                        {{> components/common/social-links}}
                    </div>
                </div>
            </div>

        </section>

        <section class="footer-bottom">
            <div class="privacy-and-terms">
                <a href="#TODO">
                    Privacy Policy
                </a>
                <a href="#TODO">
                    Terms & Conditions
                </a>
            </div>

            <div>
                &copy; Copyright {{moment format="YYYY"}} {{settings.store_name}} All rights reserved.
            </div>
        </section>
    </div>
    <!-- STATIC ELEMENTS ABOVE -->
</footer>
