{{#if banners.top}}
<div class="banners" data-banner-location="top">
    {{#each (limit banners.top_metadata 1)}}
    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
        <div data-event-type="promotion-click">
            {{{this.content}}}
        </div>
    </div>
    {{/each}}
</div>
{{/if}}
<header class="header" role="banner">
    <section class="header-nav-container">
        <div class="top-level-pages">
            <ul>
                <li>
                    <a href="#TODO">Why Duraco</a>
                </li>
                <li>
                    <a href="#TODO">Markets Served</a>
                </li>
                <li>
                    <a href="#TODO">Capabilities</a>
                </li>
                <li>
                    <a href="#TODO">Get Ideas</a>
                </li>
                <li>
                    <a href="#TODO">Support</a>
                </li>
                <li>
                    <a href="{{urls.auth.login}}">{{lang 'common.login'}}</a>
                </li>
            </ul>
        </div>
        <div class="lower-level-navigation">
            <div class="lower-level-content">
                <div class="logo-with-search-form">
                    <a href="{{urls.home}}">
                        <svg class="header-nav-logo">
                            <use xlink:href="#icon-duraco-logo-color" />
                        </svg>
                    </a>

                    {{> components/common/quick-search}}
                </div>

                <ul class="lower-level-links">
                    <li>
                        <a id="exploreProducts" class="sub-nav-parent">
                            Explore Products
                        </a>
                    </li>
                    <li>
                        <a href="#TODO">
                            Customize
                        </a>
                    </li>
                    <li class="navUser-item navUser-item--cart">
                        <a
                        class="navUser-action"
                        data-cart-preview
                        data-dropdown="cart-preview-dropdown"
                        data-options="align:right"
                        href="{{urls.cart}}">
                            <span class="navUser-item-cartLabel">
                                <svg class="icon-shopping-bag">
                                    <use xlink:href="#icon-shopping-bag">
                                </svg>
                            </span>
                            <span class="countPill cart-quantity"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <section class="quickSearchResults-container" data-bind="html: results">
            <div class="quickSearchResults"></div>
        </section>

        <section class="lower-level-sub-nav">
            <div class="sub-nav-container">
                <ul class="sub-nav-tabs">
                    <li class="active">
                        <button class="#TODO">
                            Product Types
                        </button>
                    </li>
                    <li>
                        <button class="#TODO">
                            Brands
                        </button>
                    </li>
                </ul>
                <div class="product-types-list-container">
                    <ul class="product-types-list">
                        {{#each categories}}
                        <li class="product-type">
                            <a href="{{url}}">
                                {{#if image}}
                                    {{> components/common/responsive-img
                                        image=image
                                        fallback_size=theme_settings.zoom_size
                                        lazyload=theme_settings.lazyload_mode
                                        class="category-header-image"
                                    }}
                                {{else}}
                                 <img src="/stencil/00000000-0000-0000-0000-000000000001/img/ProductDefault.gif" alt="Default Image for {{name}}">
                                {{/if}}
                                <div class="product-type-label">
                                    {{name}}
                                </div>
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="help-me">
                    <p>Not Sure? Try our product selector.</p> <a href="#TODO">Help Me</a>
                </div>
            </div>
        </section>
    </section>
</header>
{{{region name="header_bottom"}}}
