<div class="sign-up-title">
    {{lang 'newsletter.subscribe'}}
</div>
<form action="{{urls.subscribe.action}}" method="post" class="input-with-svg">
    <input type="hidden" name="action" value="subscribe">
    <input type="hidden" name="nl_first_name" value="bc">
    <input type="hidden" name="check" value="1">

    <input id="nl_email" name="nl_email" type="email" value="{{customer.email}}" placeholder="{{lang 'newsletter.email_placeholder'}}" class="footer-email-input">
    <!-- <input class="button button--primary form-prefixPostfix-button--postfix" type="submit" value="{{lang 'newsletter.subscribe_submit'}}"> -->

    {{#if settings.show_newsletter_summary }}
        <div class="footer-newsletter-summary">{{settings.newsletter_summary}}</div>
    {{/if}}
</form>
